.env_*
env*
venv*
.vscode
.vs
.idea
.ipynb_checkpoints
_tmp_*.*
~_tmp_*.*
_local_*.*
_tmp_Picts
__pycache__
DBase

*.bat

debug.logs
requirements.bat
run_main.bat
*.sqlight
*.spec
*.pkl
*.exe
*.zip
*.ttf
*.key
*.sln
*.parquet
*.xls*
